.header {
	background-color: #008B8B;
	width: 100%;
	text-align: center;
}
h1 {
	margin: 0;
	padding: 5px 0px;	
	font-size: 40px;
}
body {
	background-color: #F8F8FF;
}
.menu-list {
	background-color: #E6E6FA;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 15px 0px;
	font-size: 18px;
}
.menu {
	display: inline;
	
	margin: 0 10px;
}
.profile{
	text-align: right;
	float: right;
}
.main-contents{
	width: 500px;
	margin: 0 auto;
}
.error-message {
	color: red;
}
.search{
	text-align: left;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
.category{
	padding: 10px 0;
}

.message-comments{
	background-color: #F8F8FF;
	padding: 30px;
	position: relative;
	border-bottom: solid 2px #E6E6FA;
}
.message-title{
	background-color: white;
	margin-bottom: 15px;
	padding: 10px;
	width: 50%;
	border: solid 2px #E6E6FA;
	border-radius: 3px 3px 3px 3px;
}
.message-text{
	background-color: white;
	min-height:200px; 
	width: 60%;
	padding: 10px;
	border: solid 2px #E6E6FA;
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 1px;
}
.message-name-delete{
	position: relative;
}
.message-name{
	width: 40%;
	margin: 0;
}
.delete-message{
	position: absolute;
	left: 56%;
	top: 0%;
}
.comment-tag{
	background-color: #F8F8FF;
	margin: 0;
	position: absolute;
	right: 27%;
	top: 14%;
}

.comments{
	background-color: #F8F8FF;
	position: absolute;
	width: 30%;
	overflow: scroll;
	max-height: 500px;
	right: 4%;
	top:18%;
	border: solid 2px #E6E6FA;
	border-radius: 3px 3px 3px 3px;
}
.comment{
	background-color: white;
	margin-bottom: 7px;
}
.comment-name{
	padding: 10px 0 0 10px;
}
.comment-text{
	padding: 0 10px 0 24px;
}

table{
	text-align: center;
	background-color: white;
}
.stop{
	background-color: white;
}
.recovery{
	color: white;
	background-color: black;
	
}